/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.indikatorGambar{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1px;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
}

  
.KotakIndicator{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: whitesmoke;
}
.KotakIndicator:hover{
    cursor: pointer;
}
.medsos{
    height: 100%;
    width: auto;
    margin-left: 200px;
    display: flex;
    position: absolute;
    display: none;

}
.medsosPenutupKeteranganJurusan{
    display: none;
}
.medsos .fb:hover{
    color: gray;
}
.medsos .ig:hover{
    color: gray;
}
.medsos .yt:hover{
    color: gray;
}
.medsos .fb{
    margin-top: 150%;
    color: gray;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}
.medsos .ig{
    margin-top: 150%;
    color: gray;
    width: 30px;
    height: 30px;
}
.medsos .yt{
    margin-top: 150%;
    color: gray;
    width: 30px;
    height: 30px;
}
.LinkPenutupKetJurusan:hover{
    color: red;
}
.LinkPenutupKetJurusan{
    margin-top: 3%;
    margin-left: 20%;
    text-decoration: none;
    font-size: 20px;
}
.GmbrLogoPenutup{
    height: 80%;
    width: 100px;
    margin-left: 15%;
    margin-top: 1%;
}
.penutupKeteranganJurusan{
    border: 1px solid black;
    width: 100%;
    margin-top: 100px;
    height: 120px;
    display: flex;
    position: relative;
}
.pengertianS, .List_PengetahuanKeahlian, .List_AlasanMemilih, .IsiPeluangKerja{
    margin-right: 15%;
    margin-left: 15%;
}
.pengertianH, .PengetahuanDKeahlian, .AlasanMeilih, .PeluangKerja{
    margin-left: 10%;
    font-size: 20px;
}
.Header{
    font-weight: bold;
}
.Ket_Jurusan .Kepanjangan_Nama_Jurusan{
    font-size: 20px;
}
.Ket_Jurusan .Nama_Jurusan,.Kepanjangan_Nama_Jurusan{
    text-align: center;
    font-family: serif;
}
.Ket_Jurusan .keluarDariJurusan{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.Ket_Jurusan svg{
    width: 100%;
    color: black;
    height: 100%;
}
.Ket_Jurusan svg:hover{
    color: red;
}
.Ket_Jurusan{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    display: block;
    z-index: 1000;
    overflow-y: auto;
    display: none;
}
/*  */
.nav-item .bahasa{
    display: flex;
}
.loading{
    width: 100%;
    margin-top: 0%;
    height: 10000%;
    background: white;
    position: fixed;
    z-index: 1000;
}
#AnimasiLoading{
   width: 0%;
}


.hBrand{
    font-size: 15px;
 }
 .brandd{
    width: 70px;
    height: 70px;
    margin-left: 20%;
 }
.SkipKiri svg{
    width: 50px;
    height: 50px;
}
.SkipKanan svg{
    width: 50px;
    height: 50px;
}
.Pembungkus, .Pembungkus2{
    display: block;
}
.containerHp{
    display: none;
}
.IMG-SlideShow{
    width: 100%;
}
.gambarTampil img{
    width: 100%;
    height: 600px;
}
.iklan img{
    border: 3px solid white;
    width: 100%;

    border-radius: 5px;
}
.iklan{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 1000;
}

@keyframes tranparasiTrnss{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.pembungkusIklanDanClose{
    width: 25%;
    height: 50%;
    margin-left: 40%;
    margin-top: 10%;
}
.Close{
    margin-left: 100%;
}
.Close svg:hover{
    color: red;
    cursor: pointer;
}
.Close svg{
    color: white;
}

/* Grid */
.contain2{
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}
.list-jurusan{
    height: 200px;
    position: relative;
    list-style-type:none;
    box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
}

.list-jurusan h1{
    text-align: center;
    margin-top: 20%;
    font-family: Nerko One;
}
.list-jurusan p{
    text-align: center;
    font-family: Nerko One;
}
.list-jurusan:hover{
    cursor: pointer;
} 
.bIng, .bIndo{
    width: 100%;
}

/*  */

/* Navbar Besar */
.nav-item .isiNavBesar{
    font-family: Secular One;
    color: gray;
}
/* Navbar Kecil */
.nav-item .isiNavKanan{
    margin-right: 20px;
    font-weight: normal;
    color: black;
}

.list-jurusan:hover{
    color: red;
    border: 1px solid red;
    background-color: rgb(255, 255, 255);
    text-shadow: 0 0 5px blue;
}
.list-jurusan a:hover{
    text-decoration: none;
    color: white;
}

.NavKiri{
    margin-left: 10px;
    font-weight: bold;
}

 .bi-arrow-right-square, .bi-arrow-left-square{
    color: rgb(255, 255, 255);
    border: 1px solid black;
 }
 
 .SkipKanan, .SkipKiri{
    z-index: 999;
    position: absolute;
    margin-top: 15%;
    
    
 }
 .SkipKanan, .SkipKiri:hover{
    cursor: pointer;
 }
 .SkipKanan{
    margin-left: 96%;
 }
 .SkipKiri{
    margin-left: 10px;
 }
 .containers{
    position: relative;
 }
 .cari-keywoard{
    width: 50%;
    margin: auto;
    margin-top: 20px;
 }
 .rounded-circle{
    width: 50px;
    height: 50px;
 }
 .bi-search{
    text-align: center;
    transform: rotate(5deg);
 }
 .cari{
    border-radius: 10px;
    box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
 }
 .bi-search:hover{
    transform: rotate(-20deg);
 }

body::-webkit-scrollbar{
    display: none;

}
.indikator{
    width: 30%;
    height: 10%;
    position: absolute;
    margin-left: 35%;
    margin-top: 35%;
    display: flex;
}
.kotak{
    margin-top: 3%;
    margin-left: 10px;
    margin: auto;
    box-shadow:1px 2px 18px 2px rgba(255,255,255,1);
    border-radius: 10px;
}
.kotak:hover{
    cursor: pointer;
}
.Pembungkus2{
    width: 100%;
    height: 120px;
    border: 1px solid black;
}
.Pembungkus{
    width: 100%;
    height: 40px;
}
nav{
    height: 100%;
}

.NavKanan{
    margin: auto;
}

#navbarNav a{
     font-size: 15px;
}
.Navbarbesar img{
    height: 100%;
    width: 100px;
}
#Navnavbar h1{
 font-size: 10px;
}
.NavbarKiri{
    margin-left: 45%;
}
.isiNavBesar{
    margin-right: 30px;
}
.Navbarbesar img{
    margin-left: 15%;
}
.Navbarbesar .headerLogo{
    margin-top: -10%;
}
.keterangan{
    width: 100%;
    background-color: purple;
    height: 300px;

}

.logo_keterangan{
    height: 100%;
    width: 100%;
}
.gambarKeterangan{
    height: 70%;
    margin-left: 10%;
    width: 10%;
}
.flex{
    display: flex;
    width: 100%;
    height: 70%;
}
.tengah{
    border: 1px solid black;
    width: 30%;
    height: 100%;
    margin-left: 10%;
    margin-right: 70px;
}
.tentang{
    width: 30%;
    height: 100%;
}
.tentang .alamat{
    color: white;
    margin-top: 25px;
}
.tentang .noTlp{
    color: white;
}
.tentang .email{
    color: white;
}
.hakCipta p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
}
.garis{
    margin: auto;
    border: 1px solid black;
    width: 80%;
    margin-top: 3%;
    display: block;
}
.sosmed a{
    color: white;
}


/* HPr */
@media screen and  (min-width: 300px) and (max-width: 576px){
    .medsosPenutupKeteranganJurusan{
        display: none;
    }

    .medsos{
        height: 100%;
        width: auto;
        margin-left: 200px;
        display: flex;
        position: absolute;

    
    }
    .medsos .fb:hover{
        color: gray;
    }
    .medsos .ig:hover{
        color: gray;
    }
    .medsos .yt:hover{
        color: gray;
    }
    .medsos .fb{
        margin-top: 150%;
        color: gray;
        width: 30px;
        margin-left: 10px;
        margin-right: 10px;
        height: 30px;
    }
    .medsos .ig{
        margin-top: 150%;
        color: gray;
        width: 30px;
        height: 30px;
    }
    .medsos .yt{
        margin-top: 150%;
        color: gray;
        width: 30px;
        height: 30px;
    }
    .LinkPenutupKetJurusan:hover{
        color: red;
    }
    .LinkPenutupKetJurusan{
        margin-top: 3%;
        margin-left: 20%;
        text-decoration: none;
        font-size: 15px;
    }
    .GmbrLogoPenutup{
        height: 80%;
        width: 100px;
        margin-left: 15%;
        margin-top: 1%;
    }
    .penutupKeteranganJurusan{
        border: 1px solid black;
        width: 100%;
        margin-top: 100px;
        height: 120px;
        display: flex;
        position: relative;
    }
    .pengertianS, .List_PengetahuanKeahlian, .List_AlasanMemilih, .IsiPeluangKerja{
        margin-right: 15%;
        margin-left: 15%;
    }
    .pengertianH, .PengetahuanDKeahlian, .AlasanMeilih, .PeluangKerja{
        margin-left: 10%;
        font-size: 20px;
    }
    .Header{
        font-weight: bold;
    }
    .Ket_Jurusan .Kepanjangan_Nama_Jurusan{
        font-size: 20px;
    }
    .Ket_Jurusan .Nama_Jurusan,.Kepanjangan_Nama_Jurusan{
        text-align: center;
        font-family: serif;
    }
    .Ket_Jurusan .keluarDariJurusan{
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .Ket_Jurusan svg{
        width: 100%;
        color: black;
        height: 100%;
    }
    .Ket_Jurusan svg:hover{
        color: red;
    }
    .Ket_Jurusan{
        width: 100%;
        height: 100vh;
        position: fixed;
        background: white;
        display: block;
        z-index: 1000;
        overflow-y: auto;
        display: none;
    }
    /*  */
    .loading{
        width: 100%;
        margin-top: 0%;
        height: 10000%;
        background: white;
        position: fixed;
        z-index: 1000;
    }
    #AnimasiLoading{
       margin-top: 50%;
       width: 100%;
    }
    
    .hBrand{
        font-size: 15px;
     }
     .brandd{
        width: 70px;
        height: 70px;
        margin-left: 20%;
     }
    
    .SkipKiri svg{
        width: 35px;
        height: 35px;
    }
    .SkipKanan svg{
        width: 35px;
        height: 35px;
    }
    
    .Pembungkus, .Pembungkus2{
        display: none;
    }
    .containerHp{
        display: block;
    }
    .IMG-SlideShow{
        width: 100%;
    }
    .gambarTampil img{
        width: 100%;
        height: 200px;
    }
    .iklan img{
        border: 3px solid white;
        width: 100%;
    
        border-radius: 5px;
    }
    .iklan{
        display: none;
        width: 100%;
        height: 50000px;
        overflow: hidden;
        margin-top: -50%;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 1000;
    }
    
    @keyframes tranparasiTrnss{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .pembungkusIklanDanClose{
        width: 50%;
        height: 75%;
        margin: auto;
        margin-top: 85%;
    }
    .Close{
        margin-left: 100%;
    }
    .Close svg:hover{
        color: red;
        cursor: pointer;
    }
    .Close svg{
        color: white;
    }

    /* Grid */
    .contain2{
        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
    }
    .list-jurusan{
        height: 200px;
        position: relative;
        list-style-type:none;
        box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
    }
    
    .list-jurusan h1{
        text-align: center;
        margin-top: 20%;
        font-family: Nerko One;
    }
    .list-jurusan p{
        text-align: center;
        font-family: Nerko One;
    }
    .list-jurusan:hover{
        cursor: pointer;
    } 
    .bIng, .bIndo{
        width: 100%;
    }
    
    /*  */
    
    /* Navbar Besar */
    .nav-item .isiNavBesar{
        font-family: Secular One;
        color: gray;
    }

    /* Navbar Kecil */
    .nav-item .isiNavKanan{
        margin-right: 20px;
        font-weight: normal;
        color: black;
    }
    .list-jurusan:hover{
        color: red;
        border: 1px solid red;
        background-color: rgb(255, 255, 255);
        text-shadow: 0 0 5px blue;
    }
    .list-jurusan a:hover{
        text-decoration: none;
        color: white;
    }
    
    .NavKiri{
        margin-left: 10px;
        font-weight: bold;
    }
    
     .bi-arrow-right-square, .bi-arrow-left-square{
        color: rgb(255, 255, 255);
        border: 1px solid black;
     }
     
     .SkipKanan, .SkipKiri{
        z-index: 999;
        position: absolute;
        margin-top: 20%;
        
        
     }

     .SkipKanan, .SkipKiri:hover{
        cursor: pointer;
     }
     .SkipKanan{
        margin-left: 85%;
     }
     .SkipKiri{
        margin-left: 10px;
     }
     .containers{
        position: relative;
     }
     .cari-keywoard{
        width: 50%;
        margin: auto;
        margin-top: 20px;
     }
     .rounded-circle{
        width: 50px;
        height: 50px;
     }
     .bi-search{
        text-align: center;
        transform: rotate(5deg);
     }
     .cari{
        border-radius: 10px;
        box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
     }
     .bi-search:hover{
        transform: rotate(-20deg);
     }
    
    body::-webkit-scrollbar{
        display: none;
    
    }
    .indikator{
        width: 30%;
        height: 10%;
        position: absolute;
        margin-left: 35%;
        margin-top: 35%;
        display: flex;
    }
    .kotak{
        margin-top: 3%;
        margin-left: 10px;
        margin: auto;
        box-shadow:1px 2px 18px 2px rgba(255,255,255,1);
        border-radius: 10px;
    }
    .kotak:hover{
        cursor: pointer;
    }
    .Pembungkus2{
        width: 100%;
        height: 120px;
        border: 1px solid black;
    }
    .Pembungkus{
        width: 100%;
        height: 40px;
    }
    nav{
        height: 100%;
    }
    
    .NavKanan{
        margin: auto;
    }
    
    #navbarNav a{
         font-size: 15px;
    }
    .Navbarbesar img{
        height: 100%;
        width: 100px;
    }
    #Navnavbar h1{
     font-size: 10px;
    }
    .NavbarKiri{
        margin-left: 45%;
    }
    .isiNavBesar{
        margin-right: 30px;
    }
    .Navbarbesar img{
        margin-left: 15%;
    }
    .Navbarbesar .headerLogo{
        margin-top: -10%;
    }
    .keterangan{
        width: 100%;
        background-color: purple;
        height: auto;
    
    }
    
    .logo_keterangan{
        height: 100%;
        width: 100%;
    }
    .gambarKeterangan{
        height: 100px;
        margin-left: 10%;
        width: 100px;
        margin: auto;
    }
    .flex{
        display: block;
        width: 100%;
        height: 70%;
    }
    .tengah{
        border: 1px solid black;
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    .tentang{
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
    }
    .tentang .alamat{
        color: white;
        font-size: 10px;
        margin-top: 0px;
    }
    .tentang .noTlp{
        color: white;
        font-size: 10px;
    }
    .tentang .email{
        color: white;
        font-size: 10px;
    }
    .hakCipta p{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 10px;
    }
    .garis{
        margin: auto;
        border: 1px solid black;
        width: 80%;
        margin-top: 3%;
        display: block;
    }
    .sosmed a{
        color: white;
    }
    
}

/* Tablet */
@media screen and (min-width: 577px){
    .medsosPenutupKeteranganJurusan{
        display: none;
    }
    .loading{
        width: 100%;
        margin-top: 0%;
        height: 10000%;
        background: white;
        position: fixed;
        z-index: 1000;
    }
    #AnimasiLoading{
       width: 100%;
       margin-top: 50%;
    }
    
    .hBrand{
        font-size: 15px;
     }
     .brandd{
        width: 70px;
        height: 70px;
        margin-left: 20%;
     }
    .SkipKiri svg{
        width: 70px;
        height: 70px;
    }
    .SkipKanan svg{
        width: 70px;
        height: 70px;
    }
    .Pembungkus, .Pembungkus2{
        display: none;
    }
    .containerHp{
        display: block;
    }
    .IMG-SlideShow{
        width: 100%;
    }
    .gambarTampil img{
        width: 100%;
        height: 450px;
    }
    .iklan img{
        border: 3px solid white;
        width: 100%;
    
        border-radius: 5px;
    }
    .iklan{
        display: none;
        width: 100%;
        height: 150%;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        margin-top: -25%;
        z-index: 1000;
    }
    
    @keyframes tranparasiTrnss{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .pembungkusIklanDanClose{
        width: 50%;
        height: 75%;
        margin-left: 25%;
        margin-top: 50%;
    }
    .Close{
        margin-left: 100%;
    }
    .Close svg:hover{
        color: red;
        cursor: pointer;
    }
    .Close svg{
        color: white;
    }
    
    
    
    /* Grid */
    .contain2{
        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
    }
    .list-jurusan{
        height: 200px;
        position: relative;
        list-style-type:none;
        box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
    }
    
    .list-jurusan h1{
        text-align: center;
        margin-top: 20%;
        font-family: Nerko One;
    }
    .list-jurusan p{
        text-align: center;
        font-family: Nerko One;
    }
    .list-jurusan:hover{
        cursor: pointer;
    } 
    .bIng, .bIndo{
        width: 100%;
    }
    
    /*  */
    
    /* Navbar Besar */
    .nav-item .isiNavBesar{
        font-family: Secular One;
        color: gray;
    }
    /* Navbar Kecil */
    .nav-item .isiNavKanan{
        margin-right: 20px;
        font-weight: normal;
        color: black;
    }
    .list-jurusan:hover{
        color: red;
        border: 1px solid red;
        background-color: rgb(255, 255, 255);
        text-shadow: 0 0 5px blue;
    }
    .list-jurusan a:hover{
        text-decoration: none;
        color: white;
    }
    
    .NavKiri{
        margin-left: 10px;
        font-weight: bold;
    }
    
     .bi-arrow-right-square, .bi-arrow-left-square{
        color: rgb(255, 255, 255);
        border: 1px solid black;
     }
     
     .SkipKanan, .SkipKiri{
        z-index: 999;
        position: absolute;
        margin-top: 20%;
        
        
     }
     .SkipKanan, .SkipKiri:hover{
        cursor: pointer;
     }
     .SkipKanan{
        margin-left: 89%;
     }
     .SkipKiri{
        margin-left: 10px;
     }
     .containers{
        position: relative;
     }
     .cari-keywoard{
        width: 50%;
        margin: auto;
        margin-top: 20px;
     }
     .rounded-circle{
        width: 50px;
        height: 50px;
     }
     .bi-search{
        text-align: center;
        transform: rotate(5deg);
     }
     .cari{
        border-radius: 10px;
        box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
     }
     .bi-search:hover{
        transform: rotate(-20deg);
     }
    
    body::-webkit-scrollbar{
        display: none;
    
    }
    .indikator{
        width: 30%;
        height: 10%;
        position: absolute;
        margin-left: 35%;
        margin-top: 35%;
        display: flex;
    }
    .kotak{
        margin-top: 3%;
        margin-left: 10px;
        margin: auto;
        box-shadow:1px 2px 18px 2px rgba(255,255,255,1);
        border-radius: 10px;
    }
    .kotak:hover{
        cursor: pointer;
    }
    .Pembungkus2{
        width: 100%;
        height: 120px;
        border: 1px solid black;
    }
    .Pembungkus{
        width: 100%;
        height: 40px;
    }
    nav{
        height: 100%;
    }
    
    .NavKanan{
        margin: auto;
    }
    
    #navbarNav a{
         font-size: 15px;
    }
    .Navbarbesar img{
        height: 100%;
        width: 100px;
    }
    #Navnavbar h1{
     font-size: 10px;
    }
    .NavbarKiri{
        margin-left: 45%;
    }
    .isiNavBesar{
        margin-right: 30px;
    }
    .Navbarbesar img{
        margin-left: 15%;
    }
    .Navbarbesar .headerLogo{
        margin-top: -10%;
    }
    .keterangan{
        width: 100%;
        background-color: purple;
        height: auto;
    
    }
    
    .logo_keterangan{
        height: 100%;
        width: 100%;
    }
    .gambarKeterangan{
        height: 70%;
        margin-left: 0;
        margin: auto;
        width: 25%;
    }
    .flex{
        display: block;
        width: 100%;
        height: 70%;
    }
    .tengah{
        border: 1px solid black;
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .tentang{
        width: 100%;
        margin: auto;
        height: 100%;
        text-align:center;
    }
    .tentang .alamat{
        color: white;
        margin-top: 25px;
    }
    .tentang .noTlp{
        color: white;
    }
    .tentang .email{
        color: white;
    }
    .hakCipta p{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 15px;
    }
    .garis{
        margin: auto;
        border: 1px solid black;
        width: 80%;
        margin-top: 3%;
        display: block;
    }
    .sosmed a{
        color: white;
    }
}

/* PC */
@media screen and (min-width: 992px){
    .medsosPenutupKeteranganJurusan{
        display: none;
    }
    
.medsos{
    height: 100%;
    width: auto;
    margin-left: 200px;
    display: flex;
    position: absolute;
    display: none;

}
.medsos .fb:hover{
    color: gray;
}
.medsos .ig:hover{
    color: gray;
}
.medsos .yt:hover{
    color: gray;
}
.medsos .fb{
    margin-top: 150%;
    color: gray;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}
.medsos .ig{
    margin-top: 150%;
    color: gray;
    width: 30px;
    height: 30px;
}
.medsos .yt{
    margin-top: 150%;
    color: gray;
    width: 30px;
    height: 30px;
}
.LinkPenutupKetJurusan:hover{
    color: red;
}
.LinkPenutupKetJurusan{
    margin-top: 3%;
    margin-left: 20%;
    text-decoration: none;
    font-size: 20px;
}
.GmbrLogoPenutup{
    height: 80%;
    width: 100px;
    margin-left: 15%;
    margin-top: 1%;
}
.penutupKeteranganJurusan{
    border: 1px solid black;
    width: 100%;
    margin-top: 100px;
    height: 120px;
    display: flex;
    position: relative;
}
.pengertianS, .List_PengetahuanKeahlian, .List_AlasanMemilih, .IsiPeluangKerja{
    margin-right: 15%;
    margin-left: 15%;
}
.pengertianH, .PengetahuanDKeahlian, .AlasanMeilih, .PeluangKerja{
    margin-left: 10%;
    font-size: 20px;
}
.Header{
    font-weight: bold;
}
.Ket_Jurusan .Kepanjangan_Nama_Jurusan{
    font-size: 20px;
}
.Ket_Jurusan .Nama_Jurusan,.Kepanjangan_Nama_Jurusan{
    text-align: center;
    font-family: serif;
}
.Ket_Jurusan .keluarDariJurusan{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.Ket_Jurusan svg{
    width: 100%;
    color: black;
    height: 100%;
}
.Ket_Jurusan svg:hover{
    color: red;
}
.Ket_Jurusan{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    display: block;
    z-index: 1000;
    overflow-y: auto;
    display: none;
}
    /*  */
    .loading{
        width: 100%;
        margin-top: 0%;
        height: 10000%;
        background: white;
        position: fixed;
        z-index: 1000;
    }
    #AnimasiLoading{
       margin-top: 0%;
    }
    
    .hBrand{
        font-size: 15px;
     }
     .brandd{
        width: 70px;
        height: 70px;
        margin-left: 20%;
     }
    
    .SkipKiri svg{
        width: 50px;
        height: 50px;
    }
    .SkipKanan svg{
        width: 50px;
        height: 50px;
    }
    
    .Pembungkus, .Pembungkus2{
        display: block;
    }
    .containerHp{
        display: none;
    }
    .IMG-SlideShow{
        width: 100%;
    }
    .gambarTampil img{
        width: 100%;
        height: 600px;
    }
    .iklan img{
        border: 3px solid white;
        width: 100%;
    
        border-radius: 5px;
    }
    .iklan{
        display: none;
        width: 100%;
        margin-top: 0%;
        height: 10000%;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 1000;
    }
    
    @keyframes tranparasiTrnss{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .pembungkusIklanDanClose{
        width: 25%;
        height: 50%;
        margin-left: 40%;
        margin-top: 10%;
    }
    .Close{
        margin-left: 100%;
    }
    .Close svg:hover{
        color: red;
        cursor: pointer;
    }
    .Close svg{
        color: white;
    }
    
    
    
    /* Grid */
    .contain2{
        width: 90%;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 20px;
    }
    .list-jurusan{
        height: 200px;
        position: relative;
        list-style-type:none;
        box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
    }
    
    .list-jurusan h1{
        text-align: center;
        margin-top: 20%;
        font-family: Nerko One;
    }
    .list-jurusan p{
        text-align: center;
        font-family: Nerko One;
    }
    .list-jurusan:hover{
        cursor: pointer;
    } 
    .bIng, .bIndo{
        width: 100%;
    }
    
    /*  */
    
    /* Navbar Besar */
    .nav-item .isiNavBesar{
        font-family: Secular One;
        color: gray;
    }
    /* Navbar Kecil */
    .nav-item .isiNavKanan{
        margin-right: 20px;
        font-weight: normal;
        color: black;
    }
    .list-jurusan:hover{
        color: red;
        border: 1px solid red;
        background-color: rgb(255, 255, 255);
        text-shadow: 0 0 5px blue;
    }
    .list-jurusan a:hover{
        text-decoration: none;
        color: white;
    }
    
    .NavKiri{
        margin-left: 10px;
        font-weight: bold;
    }
    
     .bi-arrow-right-square, .bi-arrow-left-square{
        color: rgb(255, 255, 255);
        border: 1px solid black;
     }
     
     .SkipKanan, .SkipKiri{
        z-index: 999;
        position: absolute;
        margin-top: 15%;
        
        
     }
     .SkipKanan, .SkipKiri:hover{
        cursor: pointer;
     }
     .SkipKanan{
        margin-left: 96%;
     }
     .SkipKiri{
        margin-left: 10px;
     }
     .containers{
        position: relative;
     }
     .cari-keywoard{
        width: 50%;
        margin: auto;
        margin-top: 20px;
     }
     .rounded-circle{
        width: 50px;
        height: 50px;
     }
     .bi-search{
        text-align: center;
        transform: rotate(5deg);
     }
     .cari{
        border-radius: 10px;
        box-shadow: 21px 4px 47px -6px rgba(0,0,0,0.38);
     }
     .bi-search:hover{
        transform: rotate(-20deg);
     }
    
    body::-webkit-scrollbar{
        display: none;
    
    }
    .indikator{
        width: 30%;
        height: 10%;
        position: absolute;
        margin-left: 35%;
        margin-top: 35%;
        display: flex;
    }
    .kotak{
        margin-top: 3%;
        margin-left: 10px;
        margin: auto;
        box-shadow:1px 2px 18px 2px rgba(255,255,255,1);
        border-radius: 10px;
    }
    .kotak:hover{
        cursor: pointer;
    }
    .Pembungkus2{
        width: 100%;
        height: 120px;
        border: 1px solid black;
    }
    .Pembungkus{
        width: 100%;
        height: 40px;
    }
    nav{
        height: 100%;
    }
    
    .NavKanan{
        margin: auto;
    }
    
    #navbarNav a{
         font-size: 15px;
    }
    .Navbarbesar img{
        height: 100%;
        width: 100px;
    }
    #Navnavbar h1{
     font-size: 10px;
    }
    .NavbarKiri{
        margin-left: 45%;
    }
    .isiNavBesar{
        margin-right: 30px;
    }
    .Navbarbesar img{
        margin-left: 15%;
    }
    .Navbarbesar .headerLogo{
        margin-top: -10%;
    }
    .keterangan{
        width: 100%;
        background-color: purple;
        height: 300px;
    
    }
    
    .logo_keterangan{
        height: 100%;
        width: 100%;
    }
    .gambarKeterangan{
        height: 70%;
        margin-left: 10%;
        width: 10%;
    }
    .flex{
        display: flex;
        width: 100%;
        height: 70%;
    }
    .tengah{
        border: 1px solid black;
        width: 30%;
        height: 100%;
        margin-left: 10%;
        margin-right: 70px;
    }
    .tentang{
        width: 30%;
        height: 100%;
    }
    .tentang .alamat{
        color: white;
        margin-top: 25px;
    }
    .tentang .noTlp{
        color: white;
    }
    .tentang .email{
        color: white;
    }
    .hakCipta p{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 10px;
    }
    .garis{
        margin: auto;
        border: 1px solid black;
        width: 80%;
        margin-top: 3%;
        display: block;
    }
    .sosmed a{
        color: white;
    }
}